body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p{
    clear: both;
    text-align: center;
}

li {
  float: left;
  border: solid 1px #000;
  padding: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 271px;
  margin: auto auto;
}



.active{
    color: red;
}
.notactive{
    color: grey;
}

.sub{
    height: 600px;
    width: 80%;
    margin: 10px;
    position: relative;
}

.sub h3{
    margin: 10px;
}

svg{
    display: block;
    width: 800px;
    height: 500px;
    margin: auto;
}

.spinner {
    display: inline-block;
    position: absolute;
    width: 64px;
    height: 64px;
    left: 50%;
    bottom: 50%;
  }
  .spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 6px solid #f00;
    border-radius: 50%;
    animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #f00 transparent transparent transparent;
  }
  .spinner div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .spinner div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .spinner div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  