body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #F5F5F5;
}

p {
  clear: both;
  text-align: center;
}

li {
  float: left;
  border: solid 1px #000;
  padding: 5px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  width: 271px;
  margin: auto auto;
}

.clear {
  clear: both;
}

.main-title {
  text-align: center;
}

.main {
  text-align: center;
}

.main p {
  width: 800px;
  margin: auto;
}

.methodology {
  color: grey;
  font-style: italic;
}

.main ul {
  margin-top: 0.5em;
}

.instruct{
  text-align: left;
  margin-top: 1em;
}

.option-body{
  width: 300px;
  margin: auto auto;
}


.active {
  color: red;
}
.notactive {
  color: grey;
}

.sub {
  height: 800px;
  width: 800px;
  margin: auto;
  position: relative;
}

.sub h3 {
  margin: 10px;
}

.sub-name {
  position: relative;
  top: -230px;
}
.svg-container {
  position: relative;
  width: 800px;
  height: 500px;
  margin: auto;
}

svg {
  height: 100%;
  width: 100%;
}

.tooltip {
  border: solid 1px black;
  padding: 5px;
  background-color: white;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 1s;
}

 .hidden{
  opacity: 0;
  transition: opacity 1s;
}

 .visible{
  opacity: 1;
  transition: opacity 1s;
}

.tooltip .title {
  /* text-align: center; */
  font-size: 1.2em;
  font-weight: bold;
}

.tooltip p{
  text-align: left;
  margin: 0px;
}

.tooltip table {
  margin: auto;
  font-size: 0.7em;
}

.spinner {
  display: inline-block;
  position: absolute;
  width: 64px;
  height: 64px;
  left: 50%;
  bottom: 50%;
}
.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #f00;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f00 transparent transparent transparent;
}
.spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
